.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 0;
  border-radius: var(--border-radius-md);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.2s;
  flex: 1; /* To fill row */
  min-width: 140px;
}

.action svg {
  width: 18px;
  height: 18px;
}

.blue {
  background-color: var(--color-blue-light);
  color: var(--color-blue);
  border-color: transparent;
}

.blue:hover {
  background-color: #e0e7ff;
}

.purple {
  background-color: var(--color-purple-light);
  color: var(--color-purple);
  border-color: transparent;
}

.purple:hover {
  background-color: #f3e8ff;
}

.green {
  background-color: var(--primary-green-light);
  color: var(--primary-green);
  border-color: transparent;
}

.green:hover {
  background-color: #d1fae5;
}

.orange {
  background-color: var(--color-orange-light);
  color: var(--color-orange);
  border-color: transparent;
}

.orange:hover {
  background-color: #ffedd5;
}
